apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: private-quarkus-devfile-sample-i1o1
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: private-quarkus-devfile-sample-i1o1
    app.kubernetes.io/part-of: private-devfile
  name: private-quarkus-devfile-sample-i1o1
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: private-quarkus-devfile-sample-i1o1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: private-quarkus-devfile-sample-i1o1
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-aofw-tenant/private-devfile/private-quarkus-devfile-sample-i1o1@sha256:fa02ca381d8f382f6a0ac369ec27248f673ba847da019878d33f5b3aa8addd80
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
