apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: private-quarkus-devfile-sample-i1o1
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-aofw-tenant/private-devfile/private-quarkus-devfile-sample-i1o1@sha256:fa02ca381d8f382f6a0ac369ec27248f673ba847da019878d33f5b3aa8addd80
        name: my-java-quarkus
        resources: {}
status: {}
